##üïµÔ∏è Data Detective: Die gestohlene Ming-Vase aus dem chinesischen Museumshaus üè∫‚ú®

####üö® **Das Verbrechen**

>Am vergangenen Samstag, dem 08. Januar 2025, hat in Berlin eine exklusive Sonderausstellung im Chinesischen Museumshaus stattgefunden. Im Mittelpunkt stand eine besonders wertvolle und seltene Ming-Vase ‚Äì gesch√§tzter Wert: ca. 3,5 Millionen Euro. üí∞ **Zwischen 11:19 und 11:30 Uhr wurde die wertvolle Ming-Vase gestohlen** üè∫üí•. Sie befand sich in einem weniger einsehbaren Bereich der Sonderausstellung (Special Exhibit) und war nur durch eine leicht zug√§ngliche Absperrung gesch√ºtzt. Doch das war erst der Anfang: Genau in diesem Zeitraum kam es zu einem **unerkl√§rlichen Stromausfall** ‚ö°, der sowohl den Sonderausstellungsbereich als auch Teile der Haupthalle (Main Hall) betraf.Test 1


####**‚ùå Folge**
>Die √úberwachungskameras konnten den Vorfall wegen des pl√∂tzlichen Stromausfalls nicht aufzeichnen. üîåüí• Die betroffenen Bereiche lagen in v√∂lliger Dunkelheit, wodurch die Vase unbeobachtet entwendet werden konnte ‚Äì die Videoaufnahmen waren dadurch v√∂llig unbrauchbar. Als der **Diebstahl um 11:30 Uhr gemeldet wurde**, blieb eine **schnelle und gr√ºndliche Kontrolle aller Besucher & Besucherinnen**, die sich zum Zeitpunkt des Diebstahls im Museum befanden, erfolglos ‚Äì trotz intensiver Durchsuchung und Verh√∂rung aller Besucher & Besucherinnen konnte die wertvolle Ming-Vase nicht gefunden werden. üèõÔ∏è‚ùå

####**üîé Deine Mission**
>Als Data Detective ist es deine Aufgabe, den **Tathergang bis ins Detail zu rekonstruieren** und herauszufinden, wer hinter diesem Diebstahl steckt, wie wurde der Diebstahl geplant und welche Personen sind darin involviert. Erstelle ein pr√§zises Zeitprofil, das zeigt, wann und wie die verd√§chtigte Personen vorgegangen sind:

>1.   Person A betritt das Museum um 9:45
>2.   Bewegung durch das Museum (z.B. Raum A ‚Üí Raum B) üìç
>3.   Schl√ºsselmomente des Diebstahls (Wann wurde die Vase gestohlen?)
>4.   Flucht oder Versteck der Vase üö™

####**üí° Tipp**
>Nutze alle verf√ºgbaren Hinweise: Zeitstempel, Bewegungsmuster der und Aktivit√§ten der Tatverd√§chtigten. Kombiniere Daten aus allen Protokollen und Logs, um ein vollst√§ndiges Bild vom Tathergang zu erstellen.

####**üîê Dein Ziel**
>Finde den oder die T√§terIn und beschreibe detailliert, wie der Diebstahl geplant und durchgef√ºhrt wurde. Beschreibe deine Vorgehensweise und Erkenntnisse anhand deiner Code-Schnipsel.

üëâ Egal ob **SQL oder Python**, Du w√§hlst dein Analyseinstrument.


## ‚úÖ Environment einrichten


1. Python Pakete importieren üì¶
2. Datenbankverbindung einrichten üîå
3. Tabellengrundlagen erstellen und mit Daten bef√ºllen üî¢

#####üì¶ Import Python Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

#####üîå SQLite Datenbankverbindung herstellen

In [3]:
# Neues SQLite database memory
conn = sqlite3.connect(":memory:")

##### üî¢ Tabellengrundlagen erstellen und mit Daten bef√ºllen

In [4]:
############# Tabellen erstellen #############

visitors = pd.DataFrame({
    'visitor_id': [
        'V001', 'V002', 'V003', 'V004', 'V005', 'V006', 'V007', 'V008', 'V009', 'V010',
        'V011', 'V012', 'V013', 'V014', 'V015', 'V016', 'V017', 'V018', 'V019', 'V020',
        'V021', 'V022', 'V023', 'V024', 'V025'
    ],
    'visitor_name': [
        'Michael Smith', 'Sarah Marlow', 'Harry Belafonte', 'Peter Harris', 'Karen Heights',
        'Steve Allington', 'Ines Mallus', 'John Atticks', 'Lisa Mayer', 'Robert Schopf',
        'Anja Schmoekel', 'Sebastian Bangemann', 'Vida Abbasi', 'Odilon Patrick Ogue',
        'Snezana Kostic', 'Marianna Gokova', 'Yana Yelnikova', 'Serhii Sotnichenko',
        'Mindo Siagian Kern', 'Thomas Koehler', 'Lars Petschke', 'Mahdi Aminmoghaddasi',
        'Martin Svitek', 'Konstantin Milonas', 'Roksena Ilieva'
    ],
 'ticket_type':
        ['entry + free souvenir item'] * 2 + ['entry + free drink'] * 2 + ['entry + free souvenir item'] * 3 + ['entry + free drink'] * 8 + ['entry + free souvenir item'] * 7 + ['entry + free drink'] * 3
}
)


visitor_logs = pd.DataFrame({
    'visitor_id': ['V001'] * 21+ ['V002'] * 18+ ['V003'] * 15 + ['V004'] * 14 + ['V005'] * 15 + ['V006'] * 15 + ['V007'] * 13 + ['V008'] * 14 + ['V009'] * 15 + ['V010'] * 14 + ['V011'] * 13 +  ['V012'] * 13 + ['V013'] * 13 + ['V014'] * 13 + ['V015'] * 13 + ['V016'] * 13 + ['V017'] * 13 + ['V018'] * 13 + ['V019'] * 13 + ['V020'] * 13 + ['V021'] * 13 + ['V022'] * 13 + ['V023'] * 13 + ['V024'] * 13 + ['V025'] * 13,
    'building_section': [
        #Michael Smith
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Entrance/Exit Hall', 'Gift Shop',
        'Main Hall', 'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Main Hall',
        'Restrooms', 'Main Hall', 'Main Exhibit', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Restrooms', 'Special Exhibit', 'Restrooms', 'Entrance/Exit Hall', 'Exit',
        #Sarah Marlow
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Restrooms', 'Main Exhibit', 'Main Hall', 'Gift Shop',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Harry Belafonte
         'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Peter Harris
        'Entrance', 'Entrance/Exit Hall', 'Gift Shop', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms', 'Main Hall',
        'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Karen Heights
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Steve Allington
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall',
        'Restrooms', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Exit',
        #Ines Mallus
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #John Atticks
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Gift Shop', 'Main Hall', 'Restrooms', 'Main Hall',
        'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Lisa Mayer
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Robert Schopf
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Anja Schmoekel
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Sebastian Bangemann
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Vida Abbasi
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Odilon Patrick Ogue
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Snezana Kostic
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Marianna Gokova
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Yana Yelnikova
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Serhii Sotnichenko
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Mindo Siagian Kern
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Thomas Koehler
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Lars Petschke
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Mahdi Aminmoghaddasi
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Martin Svitek
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Konstantin Milonas
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # Roksena Ilieva
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit'
    ],
    'time_entered': [
        #Michael Smith
        '09:30 AM', '09:31 AM', '09:33 AM', '09:36 AM', '09:40 AM',
        '09:50 AM', '09:55 AM', '10:05 AM', '10:10 AM', '10:20 AM',
        '10:25 AM', '10:30 AM', '10:40 AM', '10:50 AM', '10:55 AM',
        '11:05 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:29 AM', '11:30 AM',
         #Sarah Marlow
        '9:45 AM', '9:50 AM', '9:55 AM', '10:00 AM', '10:05 AM',
        '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM',
        '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
        '11:00 AM', '11:05 AM', '11:10 AM',
        #Harry Belafonte
        '10:00 AM', '10:05 AM', '10:10 AM', '10:15 AM', '10:20 AM',
        '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM',
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        #Peter Harris
        '9:50 AM', '9:55 AM', '10:00 AM', '10:05 AM', '10:10 AM',
        '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM',
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
         #Karen Heights
        '10:05 AM', '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM',
        '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM',
        '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM',
        #Steve Allington
        '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM',
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM',
        #Ines Mallus
        '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM',
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        '11:15 AM', '11:20 AM', '11:25 AM',
        #John Atticks
        '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
        '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM',
        '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM',
        #Lisa Mayer
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM',
        '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM',
        '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM', '11:55 AM',
        #Robert Schopf
        '9:55 AM', '10:00 AM', '10:05 AM', '10:10 AM', '10:15 AM',
        '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM',
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        #Anja Schmoekel
        '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM',
        '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
        '11:00 AM', '11:05 AM', '11:35 AM',
        #Sebastian Bangemann
        '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM',
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM',
        '11:10 AM', '11:15 AM', '11:35 AM',
        #Vida Abbasi
        '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM',
        '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM',
        '11:20 AM', '11:25 AM', '11:35 AM',
        #Odilon Patrick Ogue
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM',
        '11:30 AM', '11:35 AM', '11:35 AM',
        #Snezana Kostic
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM',
        '11:20 AM', '11:25 AM', '11:35 AM',
        #Marianna Gokova
        '10:00 AM', '10:05 AM', '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM',
        '10:45 AM', '11:00 AM', '11:15 AM', '11:25 AM', '11:30 AM', '11:35 AM',
        #Yana Yelnikova
        '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM',
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:15 PM', '11:35 PM',
        #Serhii Sotnichenko
        '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM',
        '11:55 AM', '12:00 PM', '12:05 PM', '12:10 PM', '12:15 PM', '12:20 PM',
        # Mindo Siagian Kern
        '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM',
        # Thomas Koehler
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM',
        # Lars Petschke
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM',
        '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM',
        # Mahdi Aminmoghaddasi
        '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM',
        '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM', '11:55 AM', '12:00 PM',
        # Martin Svitek
        '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM',
        '11:45 AM', '11:50 AM', '11:55 AM', '12:00 PM', '12:05 PM', '12:10 PM',
        # Konstantin Milonas
        '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM',
        '11:55 AM', '12:00 PM', '12:05 PM', '12:10 PM', '12:15 PM', '12:20 PM',
        # Roksena Ilieva
        '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM', '11:55 AM', '12:00 PM',
        '12:05 PM', '12:10 PM', '12:15 PM', '12:20 PM', '12:25 PM', '12:30 PM'
    ]})

gift_shop_purchases = pd.DataFrame(
  [
    {'visitor_id': 'V001', 'purchase_time': '09:40 AM', 'Souvenir_Artikel': 'Umhaengetasche'},
    {'visitor_id': 'V002', 'purchase_time': '10:00 AM', 'Souvenir_Artikel': 'Schl√ºsselanh√§nger'},
    {'visitor_id': 'V002', 'purchase_time': '10:55 AM', 'Souvenir_Artikel': 'Magnet'},
    {'visitor_id': 'V003', 'purchase_time': '10:25 AM', 'Souvenir_Artikel': 'Schl√ºsselanh√§nger'},
    {'visitor_id': 'V004', 'purchase_time': '10:00 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V005', 'purchase_time': '10:30 AM', 'Souvenir_Artikel': 'Schl√ºsselanh√§nger'},
    {'visitor_id': 'V006', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'Notizbuch'},
    {'visitor_id': 'V007', 'purchase_time': '10:40 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V008', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V009', 'purchase_time': '11:10 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V010', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'T-Shirt'},
    {'visitor_id': 'V011', 'purchase_time': '10:25 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V012', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'Schl√ºsselanh√§nger'},
    {'visitor_id': 'V013', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V014', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Tasse'},
    {'visitor_id': 'V015', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V016', 'purchase_time': '10:25 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V017', 'purchase_time': '10:35 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V018', 'purchase_time': '11:45 AM', 'Souvenir_Artikel': 'Schl√ºsselanh√§nger'},
    {'visitor_id': 'V019', 'purchase_time': '10:55 AM', 'Souvenir_Artikel': 'Schl√ºsselanh√§nger'},
    {'visitor_id': 'V020', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Tasse'},
    {'visitor_id': 'V021', 'purchase_time': '11:15 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V022', 'purchase_time': '11:25 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V023', 'purchase_time': '11:35 AM', 'Souvenir_Artikel': 'T-Shirt'},
    {'visitor_id': 'V024', 'purchase_time': '11:45 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V025', 'purchase_time': '11:55 AM', 'Souvenir_Artikel': 'Postkarte'}
])


employees = pd.DataFrame([
    {'employee_id': 'E001', 'employee_name': 'Klaas Heufer-Umlauf', 'Position': 'Security Guard'},
    {'employee_id': 'E002', 'employee_name': 'Micky Beisenherz', 'Position': 'Security Guard'},
    {'employee_id': 'E003', 'employee_name': 'Steven Gaetjen', 'Position': 'Security Guard'},
    {'employee_id': 'E004', 'employee_name': 'Joko Winterscheidt', 'Position': 'Security Guard'},
    {'employee_id': 'E005', 'employee_name': 'Chris Martin', 'Position': 'Security Guard'},
    {'employee_id': 'E006', 'employee_name': 'Steffen Hennssler', 'Position': 'Sales Souvenir Shop'},
    {'employee_id': 'E007', 'employee_name': 'Sandra Maischberger', 'Position': 'Ticket Sales'},
    {'employee_id': 'E008', 'employee_name': 'Felix Lobrecht', 'Position': 'Electrician'}
])


employee_shifts = pd.DataFrame({
    'employee_id': ['E001'] * 5 + ['E002'] * 5 + ['E003'] * 5 + ['E004'] * 5 + ['E005'] * 5 + ['E006'] * 5 + ['E007'] * 5+ ['E008'] * 5,
    'shift_start': [
        '09:00 AM', '10:00 AM', '11:00 AM', '01:00 PM', '02:00 PM']*8,
    'shift_end': [
        '10:00 AM', '11:00 AM', '01:00 PM', '02:00 PM', '03:00 PM']*8,
    'room_assigned': [
        'Gift Shop', 'Main Hall', 'Entrance/Exit Hall', 'Main Exhibit',  'Special Exhibit', # Klaas Heufer-Umlauf
        'Main Hall', 'Main Exhibit', 'Gift Shop', 'Special Exhibit', 'Entrance/Exit Hall', # Micky Beisenherz
        'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Gift Shop', 'Main Exhibit', # Steven Gaetjen
        'Special Exhibit', 'Main Exhibit', 'Gift Shop', 'Main Hall', 'Entrance/Exit Hall',  # Joko Winterscheidt
        'Main Hall', 'Main Exhibit', 'Entrance/Exit Hall', 'Main Exhibit', 'Gift Shop', # Chris Martin
        'Gift Shop', 'Gift Shop', 'Gift Shop', 'Gift Shop', 'Gift Shop', # Steffen Hennssler'
        'Ticket Office','Ticket Office','Ticket Office','Ticket Office','Ticket Office', #Sandra Maischberger'
        'Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum', #Felix Lobrecht'
        ]})

employee_logs = pd.DataFrame({
    'employee_id': ['E001'] * 8 + ['E002'] * 12 + ['E003'] * 18 + ['E004'] * 9 + ['E005'] * 7 + ['E006'] * 6 + ['E007'] * 6 + ['E008'] * 10,
    'building_section': [
        #Klaas Heufer-Umlauf
        'Staff Entrance/Exit', 'Staff Dressing Room','Gift Shop','Main Hall','Staff Restroom', 'Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        #Micky Beisenherz
        'Staff Entrance/Exit', 'Staff Dressing Room','Main Hall', 'Main Exhibit', 'Gift Shop','Main Hall','Staff Restroom','Main Hall','Gift Shop','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Steven Gaetjen
         'Staff Entrance/Exit', 'Staff Dressing Room', 'Main Hall', 'Main Exhibit', 'Main Hall','Regel- und Elektroverteilungsraum','Main Hall','Special Exhibit','Main Hall','Restroom','Main Hall','Staff Entrance/Exit','Main Hall','Special Exhibit', 'Main Hall','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Joko Winterscheidt
         'Staff Entrance/Exit', 'Staff Dressing Room', 'Main Hall','Special Exhibit','Main Exhibit', 'Gift Shop','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Chris Martin
        'Staff Entrance/Exit', 'Staff Dressing Room','Main Hall', 'Main Exhibit', 'Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Steffen Hennssler'
        'Staff Entrance/Exit', 'Staff Dressing Room', 'Gift Shop','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        #Sandra Maischberger'
        'Staff Entrance/Exit', 'Staff Dressing Room', 'Ticket Office','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        #Felix Lobrecht'
        'Staff Entrance/Exit', 'Staff Dressing Room','Regel- und Elektroverteilungsraum', 'Main Hall', 'Staff Restroom','Regel- und Elektroverteilungsraum','Entrance/Exit Hall','Regel- und Elektroverteilungsraum','Staff Dressing Room','Staff Entrance/Exit',
    ],
    'time_entered': [
        #Klaas Heufer-Umlauf
         '08:30 AM', '08:31 AM','08:50 AM','10:00 AM','10:55 AM', '11:00 AM','03:30 PM', '03:40 PM',
        #Micky Beisenherz
        '08:30 AM', '08:31 AM','08:50 AM', '10:00 AM', '11:00 AM','11:15 AM','11:17 AM','11:20 AM','11:25 AM','11:35 AM','03:30 PM', '03:40 PM',
        # Steven Gaetjen
        '08:30 AM', '08:31 AM', '08:50 AM', '08:51 AM', '10:40 AM','10:45 AM','10:50 AM','11:00 AM','11:14 AM','11:15 AM','11:25 AM','11:27 AM','11:30 AM','11:31 AM','11:33 AM','11:35 AM','03:30 PM', '03:40 PM',
        # Joko Winterscheidt
        '08:30 AM', '08:31 AM', '08:50 AM', '08:51 AM','10:00 AM', '11:00 AM', '11:35 AM','03:30 PM', '03:40 PM',
        # Chris Martin
         '08:30 AM', '08:31 AM', '08:50 AM','10:00 AM', '11:00 AM','03:30 PM', '03:40 PM',
        # Steffen Hennssler'
        '08:30 AM', '08:31 AM', '08:50 AM', '11:35 AM','03:30 PM', '03:40 PM',
        #Sandra Maischberger'
         '08:30 AM', '08:31 AM', '08:50 AM', '11:35 AM','03:30 PM', '03:40 PM',
        #Felix Lobrecht'
        '08:00 AM', '08:02 AM', '08:10 AM','10:39 AM', '10:41 AM', '10:53 AM', '11:59 AM', '12:30 PM','03:30 PM', '03:40 PM'
    ]})

witness_statements = pd.DataFrame({'visitor_id': [
  'V001',
  'V006',
  'V007',
  'V009',
  'V013',
  'V014',
  'V015',
  'V019',
  'V021',
  'V022'],
 'aussage_script': [
  'Ich sah jemanden schnell aus dem Notausgang laufen.',
  'Eine Person im grauen Mantel schien nerv√∂s zu sein.',
  'Der Museumsmitarbeiter war anfangs am Eingang, verschwand dann.',
  'Die Sicherheitskameras hatten rote Kontrollleuchten.',
  'Ich habe ein Klirren aus dem hinteren Teil der Ausstellung geh√∂rt.',
  'Jemand hat mit einem Museumsmitarbeiter in einem anderen Bereich des Musuems heftig diskutiert.',
  'Eine Fluchtt√ºr war offen, obwohl sie normalerweise geschlossen ist.',
  'Ein Kind weinte, weil es seine in der Dunkelheit nicht finden konnte.',
  'Ein Besucher versuchte ein Objekt ohne Erlaubnis zu ber√ºhren.',
  'Ich sah eine Person mit einer gro√üen Tasche aus dem Bereich kommen, wo die Ming-Vase stand.']})

# Time_logs in datetime konvertieren
visitor_logs['time_entered'] = pd.to_datetime('2025-08-01 ' + visitor_logs['time_entered'], format='%Y-%m-%d %I:%M %p')
employee_shifts['shift_start'] = pd.to_datetime('2025-08-01 ' + employee_shifts['shift_start'], format='%Y-%m-%d %I:%M %p')
employee_shifts['shift_end'] = pd.to_datetime('2025-08-01 ' + employee_shifts['shift_end'], format='%Y-%m-%d %I:%M %p')
employee_logs['time_entered'] = pd.to_datetime('2025-08-01 ' + employee_logs['time_entered'], format='%Y-%m-%d %I:%M %p')


# DB Tables in SQLite
visitors.to_sql('visitors', conn, index=False, if_exists='replace')
visitor_logs.to_sql('visitor_logs', conn, index=False, if_exists='replace')
gift_shop_purchases.to_sql('gift_shop_purchases', conn, index=False, if_exists='replace')
employee_shifts.to_sql('employee_shifts', conn, index=False, if_exists='replace')
employee_logs.to_sql('employee_logs', conn, index=False, if_exists='replace')
employees.to_sql('employees', conn, index=False, if_exists='replace')
witness_statements.to_sql('witness_statements', conn, index=False, if_exists='replace')

10

## üß© √úbersicht Tabellen

| **Tabelle**            | **Beschreibung**                                                                                                          |
|-----------------------|----------------------------------------------------------------------------------------------------------------------------|
| **visitors**           | Enth√§lt Informationen √ºber die Besucher des Museums, einschlie√ülich der Besucher-ID (`visitor_id`), ihres Namens und des Ticket-Typs, z. B. mit freien Souvenirs. |
| **visitor_logs**       | Zeichnet die Bewegungen der Besucher innerhalb des Museums auf, einschlie√ülich der betretenen Bereiche (`building_section`) und Zeitstempel (`time_entered`).    |
| **gift_shop_purchases**| Dokumentiert K√§ufe im Souvenirshop, einschlie√ülich der Besucher-ID (`visitor_id`), der gekauften Artikel (`Souvenir_Artikel`) und der Kaufzeit (`purchase_time`).                                |
| **employees**          | Beinhaltet Informationen √ºber die Mitarbeiter, wie die Mitarbeiter-ID (`employee_id`), den Namen und die zugewiesene Position im Museum.                         |
| **employee_shifts**    | Verzeichnet die Arbeitszeiten der Mitarbeiter, einschlie√ülich Beginn (`shift_start`), Ende (`shift_end`) und der zugewiesenen R√§ume (`room_assigned`).            |
| **employee_logs**      | Protokolliert die Bewegungen der Mitarbeiter innerhalb des Museums, mit Eintr√§gen zu den betretenen Bereichen und den Zeitpunkten (`time_entered`).              |
| **witness_statements** | Enth√§lt Aussagen von Zeugen im Zusammenhang mit Vorf√§llen im Museum. Jede Aussage ist einer bestimmten Besucher-ID (`visitor_id`) zugeordnet.


## üîç 1. Wer war zur Tatzeit am Tatort?

###SQL Query ‚úçÔ∏è

In [5]:
query_1 = '''
SELECT * FROM visitors
'''
result_1 = pd.read_sql_query(query_1, conn)
result_1

   visitor_id          visitor_name                 ticket_type
0        V001         Michael Smith  entry + free souvenir item
1        V002          Sarah Marlow  entry + free souvenir item
2        V003       Harry Belafonte          entry + free drink
3        V004          Peter Harris          entry + free drink
4        V005         Karen Heights  entry + free souvenir item
5        V006       Steve Allington  entry + free souvenir item
6        V007           Ines Mallus  entry + free souvenir item
7        V008          John Atticks          entry + free drink
8        V009            Lisa Mayer          entry + free drink
9        V010         Robert Schopf          entry + free drink
10       V011        Anja Schmoekel          entry + free drink
11       V012   Sebastian Bangemann          entry + free drink
12       V013           Vida Abbasi          entry + free drink
13       V014   Odilon Patrick Ogue          entry + free drink
14       V015        Snezana Kostic          entry + free drink
15       V016       Marianna Gokova  entry + free souvenir item
16       V017        Yana Yelnikova  entry + free souvenir item
17       V018    Serhii Sotnichenko  entry + free souvenir item
18       V019    Mindo Siagian Kern  entry + free souvenir item
19       V020        Thomas Koehler  entry + free souvenir item
20       V021         Lars Petschke  entry + free souvenir item
21       V022  Mahdi Aminmoghaddasi  entry + free souvenir item
22       V023         Martin Svitek          entry + free drink
23       V024    Konstantin Milonas          entry + free drink
24       V025        Roksena Ilieva          entry + free drink

###Python Code üêç

In [ ]:
#Dein Python Code hier üêç

    visitor_id building_section        time_entered
17        V001  Special Exhibit 2025-08-01 11:20:00
79        V005  Special Exhibit 2025-08-01 11:00:00
95        V006  Special Exhibit 2025-08-01 11:15:00
107       V007  Special Exhibit 2025-08-01 11:10:00
121       V008  Special Exhibit 2025-08-01 11:25:00
132       V009  Special Exhibit 2025-08-01 11:20:00
187       V013  Special Exhibit 2025-08-01 11:05:00
200       V014  Special Exhibit 2025-08-01 11:15:00
213       V015  Special Exhibit 2025-08-01 11:25:00
265       V019  Special Exhibit 2025-08-01 11:05:00
278       V020  Special Exhibit 2025-08-01 11:15:00
291       V021  Special Exhibit 2025-08-01 11:25:00

###‚ö†Ô∏è Hinweis (bitte nur ausklappen, wenn n√∂tig!)

üîç Erster Hinweis:
> Nicht jeder Besucher oder Besucherin war zur Tatzeit in der N√§he der Ming-Vase. Finde heraus, wer sich zwischen 11:19 und 11:30 Uhr im Sonderausstellungsbereich (Special Exhibit) aufgehalten hat. üïµÔ∏è‚Äç‚ôÇÔ∏èüëÄ

### ‚úÖ L√∂sung

SQL:
```sql
SELECT vl.*, v.visitor_name
FROM visitor_logs vl
LEFT JOIN visitors v ON vl.visitor_ID = v.visitor_ID
WHERE 1=1
      AND building_section = 'Special Exhibit'
      AND time_entered BETWEEN '2025-08-01 11:00:00' AND '2025-08-01 11:30:00'
```

Python:
```python
potential_suspect = visitor_logs[(
    visitor_logs["building_section"]== 'Special Exhibit') & (
        visitor_logs["time_entered"] >= '2025-08-01 11:00:00') & (
            visitor_logs["time_entered"] <= '2025-08-01 11:30:00')]
```


## 2. üë£ Verfolgen wir die Spuren und Aussagen der verd√§chtigen Personen

###SQL Query ‚úçÔ∏è

In [ ]:
query_2 = '''

--üëâ Dein SQL Query hier

'''
result_2 = pd.read_sql_query(query_2, conn)
result_2

TypeError: 'NoneType' object is not iterable

###Python Code üêç

In [ ]:
#Dein Python Code hier üêç

###‚ö†Ô∏è Hinweis (bitte nur ausklappen, wenn n√∂tig!)

üîç Zweiter Hinweis:
> Gut gemacht, Data Detective! Du hast nun mehrere Tatverd√§chtige identifiziert. Aber der Dieb k√∂nnte klug und strategisch vorgegangen sein. üïµÔ∏è‚Äç‚ôÇÔ∏è √úberpr√ºfe die Bewegungsmuster der Verd√§chtigen im Museum. Gibt es Hinweise darauf, dass jemand die Vase geschickt versteckt oder unauff√§llig transportiert haben k√∂nnte? Vielleicht liefern dir Zeugenaussagen oder auff√§llige Stopps in bestimmten R√§umen einen entscheidenden Hinweis. üëÄüîë

### ‚úÖ L√∂sung

SQL:
```sql
-- Bewegungsprofile und Aussagen der Personen, die ich zum Tatzeitraum in der Sonderausstellungshalle aufgehalten haben
WITH supected_visitors AS (
SELECT vl.*
FROM visitor_logs vl
WHERE 1=1
      AND Building_Section = 'Special Exhibit'
      AND Time_Entered BETWEEN '2025-08-01 11:00:00' AND '2025-08-01 11:30:00'
)
SELECT vl.*, v.visitor_name, ws.aussage_script
FROM visitor_logs vl
LEFT JOIN visitors v ON vl.visitor_id = v.visitor_id
LEFT JOIN witness_statements ws ON vl.visitor_id = ws.visitor_id
WHERE vl.Visitor_ID IN (SELECT distinct visitor_id FROM supected_visitors)
ORDER BY vl.Visitor_ID, vl.Time_Entered
```

Python:
```python
#Bewegungsprofile der Personen, die ich zum Tatzeitraum in der Sonderausstellungshalle aufgehalten haben
potential_suspect = visitor_logs[(
    visitor_logs["building_section"]== 'Special Exhibit') & (
        visitor_logs["time_entered"] >= '2025-08-01 11:00:00') & (
            visitor_logs["time_entered"] <= '2025-08-01 11:30:00')]

visitor_logs[visitor_logs["visitor_id"].isin(potential_suspect["visitor_id"])]


#Vergleich der Zeugenaussagen
witness_statements
```


## 3. üï∂Ô∏è Wie wurde die Vase ungesehen aus dem Ausstellungsbereich transportiert?

###SQL Query ‚úçÔ∏è

In [ ]:
query_3 = '''

--üëâ Dein SQL Query hier

'''
result_3 = pd.read_sql_query(query_3, conn)
result_3

TypeError: 'NoneType' object is not iterable

###Python Code üêç

In [ ]:
#Dein Python Code hier üêç

###‚ö†Ô∏è Hinweis (bitte nur ausklappen, wenn n√∂tig!)

üîç Dritter Hinweis:
> Du bist auf der richtigen Spur! üö∂‚Äç‚ôÇÔ∏èüëú Es besteht der Verdacht, dass der Dieb die Ming-Vase in einer Tasche aus dem Sonderausstellungsbereich geschmuggelt hat. √úberpr√ºfe die Verd√§chtigen daraufhin, ob sie etwas gekauft oder mitgebracht haben, das zum Verstecken der Vase geeignet sein k√∂nnte. üïµÔ∏è‚Äç‚ôÇÔ∏è

### ‚úÖ L√∂sung

SQL:
```sql
WITH supected_visitors AS (
SELECT vl.*
FROM visitor_logs vl
WHERE 1=1
      AND Building_Section = 'Special Exhibit'
      AND Time_Entered BETWEEN '2025-08-01 11:00:00' AND '2025-08-01 11:30:00'
)
SELECT gsp.*, v.visitor_name
FROM gift_shop_purchases gsp
LEFT JOIN visitors v ON gsp.visitor_id = v.visitor_id
WHERE gsp.visitor_id IN (SELECT distinct visitor_id FROM supected_visitors)
```

Python:
```python
#Souvenir Purchases jener Personen, die ich zum Tatzeitraum in der Sonderausstellungshalle aufgehalten haben
potential_suspect = visitor_logs[(
    visitor_logs["building_section"]== 'Special Exhibit') & (
        visitor_logs["time_entered"] >= '2025-08-01 11:00:00') & (
            visitor_logs["time_entered"] <= '2025-08-01 11:30:00')]

gift_shop_purchases[visitor_logs["visitor_id"].isin(potential_suspect["visitor_id"])]
```


## 4. üè∫ Wo wurde die Vase deponiert?

###SQL Query ‚úçÔ∏è

In [ ]:
query_4 = '''

--üëâ Dein SQL Query hier

'''
result_4 = pd.read_sql_query(query_4, conn)
result_4

TypeError: 'NoneType' object is not iterable

###Python Code üêç

In [ ]:
#Dein Python Code hier üêç

###‚ö†Ô∏è Hinweis (bitte nur ausklappen, wenn n√∂tig!)

üîç Vierter Hinweis::
>Sehr gut, du hast einen Hauptverd√§chtigen im Blick! üëÄ Aber wohin ist er nach dem Diebstahl gegangen? Verfolge die Bewegungen des Verd√§chtigen im Museum. üèõÔ∏è Gibt es Hinweise darauf, dass er die Vase in einem weniger √ºberwachten Bereich oder einem Raum deponiert haben k√∂nnte?

### ‚úÖ L√∂sung

SQL:
```sql
SELECT vl.*, v.visitor_name
FROM visitor_logs vl
LEFT JOIN visitors v ON vl.visitor_ID = v.visitor_ID
WHERE 1=1
      AND v.visitor_name = 'Michael Smith'
      AND time_entered >= '2025-08-01 11:00:00'
ORDER BY time_entered
```

Python:
```python
logs_michael_smith = visitor_logs[(
    visitor_logs["visitor_id"]== 'V001') & (
        visitor_logs["time_entered"] >= '2025-08-01 11:00:00')]
```


## 5. üë• Wie konnte die Vase aus dem Geb√§ude geschafft werden? Komplizen?

###SQL Query ‚úçÔ∏è

In [ ]:
query_5 = '''

--üëâ Dein SQL Query hier

'''
result_5 = pd.read_sql_query(query_5, conn)
result_5

TypeError: 'NoneType' object is not iterable

###Python Code üêç

In [ ]:
#Dein Python Code hier üêç

###‚ö†Ô∏è Hinweis (bitte nur ausklappen, wenn n√∂tig!)

üîç F√ºnfter Hinweis:
>Sehr spannend! üïµÔ∏è‚Äç‚ôÇÔ∏è Es scheint, als h√§tte der Verd√§chtige die Vase in der Besuchertoilette zwischengelagert. üöª Aber wie konnte die Beute von dort verschwinden? Es ist wahrscheinlich, dass der T√§ter einen Komplizen hatte. üë• √úberpr√ºfe die Zeugenaussagen erneut, um hier Licht ins Dunkle zu bringen?

### ‚úÖ L√∂sung

SQL:
```sql

```

Python:
```python

```


## 6. üîå Wie hat der Komplize den Diebstahl vorbereitet?

###SQL Query ‚úçÔ∏è

In [ ]:
query_6 = '''

--üëâ Dein SQL Query hier

'''
result_6 = pd.read_sql_query(query_6, conn)
result_6

TypeError: 'NoneType' object is not iterable

###Python Code üêç

In [ ]:
#Dein Python Code hier üêç

###‚ö†Ô∏è Hinweis (bitte nur ausklappen, wenn n√∂tig!)

üîç Sechster Hinweis:
>Du hast herausgefunden, dass Mitarbeiter Nummer 1 zur √úberwachung des Sonderausstellungsbereiches eingeteilt war und sich zeitgleich mit dem Hauptverd√§chtigen auf der Besuchertoilette befand, als dieser dort vermutlich die Vase deponiert hat. üöªüè∫ Der Mitarbeiter, der den Bereich eigentlich √ºberwachen sollte, war w√§hrend des Diebstahls jedoch nicht anwesend ‚Äì ein schwerwiegendes Detail.

Es ist wahrscheinlich, dass er die Vase durch den Staff-Ausgang unbemerkt aus dem Geb√§ude geschmuggelt hat. üö™üïµÔ∏è Aber die entscheidende Frage bleibt: Wie h√§ngt der Stromausfall damit zusammen? üîåüí• War er gezielt geplant, um die √úberwachung zu umgehen? Vielleicht liefert dir die Analyse des Stromausfalls und der Mitarbeiteraktivit√§ten den letzten, entscheidenden Hinweis. üîç

### ‚úÖ L√∂sung

SQL:
```sql

```

Python:
```python

```

##üéâ **Du hast es geschafft!** üéâ  

üîé Du hast den **Dieb und seine Komplizen** entlarvt! Jetzt ist es an der Zeit, den finalen Beweis zu liefern.  

üìÑ **Erstelle eine TXT-Datei** mit dem **genauen Ablauf des Tathergangs**, inklusive **Timestamps**, und lade sie per **Merge Request** in folgendes Repository hoch:  

üìå **Was muss in die Datei?**  
‚úÖ Dein **Name**  
‚úÖ Das **Skript zur L√∂sung der Challenge**  
‚úÖ Die **rekonstruierte Tat mit allen relevanten Zeitpunkten**  

üöÄ Lade die Datei hoch und schlie√üe die Challenge offiziell ab! üé©‚ú®